
@font-face {
 font-family: "syn";
 font-style: normal;
 src: url("font/Syne-Extra.ttf");
}

body{

}

/****** interface ***/
#canvas{
	position: relative;
	z-index: 100;
	overflow: hidden;
}
#canvas textarea{
	font-family: "syn";
	position: relative;
	background: lightgrey;
	width:100%;
	height: 100%;

	white-space: pre-wrap;

	border: none;
	resize: none;
	overflow: hidden;
}

#canvas .image{
	background-image: url("http://lorempixel.com/400/200/cats/");
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-size: 100% 100%;
	position: absolute;
    top: 100px;
    left: 100px;
	top: 0;
	left: 0;
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  box-sizing: border-box;
}

.resizable .resizers .resizer{
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}



/* #preview{
	position: relative;
	background: lightgreen;
} */
