@font-face {
 font-family: "syneextra";
 font-style: normal;
 src: url("../font/Syne-Extra.ttf");
}
@font-face {
 font-family: "synebold";
 font-style: bold;
 src: url("../font/Syne-Bold.ttf");
}
@font-face {
 font-family: "syneregular";
 font-style: normal;
 src: url("../font/Syne-Regular.ttf");
}
@font-face {
 font-family: "synemono";
 font-style: monospace;
 src: url("../font/Syne-Mono.ttf");
}
@font-face {
 font-family: "syneitalic";
 font-style: italic;
 src: url("../font/Syne-Italic.ttf");
}
