body{
    font-family: "synemono";
    background: #242424;
    color: rgb(250,250,250);
}

.container{
    margin: 0 40px;
}

h1{
    font-size: 30px;
    margin: 0;
}
.title{
transition: 0.3s;
    }
.title:hover{
    text-shadow:
    0px -4px 0 #fafafa,
    0px -8px 0 #fafafa,
    0px -12px 0 #fafafa,
    0px -18px 0 #fafafa,
    0px -27px 0 #fafafa,
    0px -40px 0 #fafafa,
    0px -58px 0 #fafafa,
    0px -81px 0 #fafafa,
    0px 4px 0 #fafafa,
    0px 8px 0 #fafafa,
    0px 12px 0 #fafafa,
    0px 18px 0 #fafafa,
    0px 27px 0 #fafafa,
    0px 40px 0 #fafafa,
    0px 63px 0 #fafafa;
 /*  -webkit-text-fill-color: #fafafa;
  -webkit-text-stroke-width: 50px;
  -webkit-text-stroke-color: #fafafa;*/
}

i, em {
    font-family: "syneitalic";
}

strong{
    font-family: "syneextra";
}

input{
    margin-bottom: 20px;
}
button {
    font-family: "synemono";
    background-color:#242424;
    color: #fafafa;
    border:1px solid #fafafa;
    display:inline-block;
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    transition: 0.3s;
}
button:hover {
    color: #005aff;
    border: 1px solid #005aff;

}
button:active {
    position:relative;
    opacity: 0.6;
    outline: none;
}
button:focus {
    outline: none;
}
.result_link{
    margin-top: 2em;
    display: block;
}
.result_link a{
    font-family: "synemono";
    background-color:#242424;
    color: #fafafa;
    border:1px solid #fafafa;
    display:inline-block;
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    transition: 0.3s;
}
.result_link a:hover {
    color: #005aff;
    border: 1px solid #005aff;

}

.select-css {
    font-family: "synemono";
    background-color:#242424;
    color: #fafafa;
    border:1px solid #fafafa;
    border-radius: 0px !important;
    -webkit-appearance: none;
    display:inline-block;
    cursor:pointer;
    padding:5px 10px;
    text-decoration:none;
    transition: 0.3s;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #005aff;
    color: #005aff;
}
.select-css:focus {
    border-color: #fafafa;
    color: #fafafa;
    outline: none;
}
.select-css option {
    font-weight:normal;
}
.space{
    display: block;
    height: 90px;
}

.bignumber{
    font-size: 300px;
    color: #242424;
    text-shadow:
    -1px -1px 0 #fafafa,
    0px -1px 0 #fafafa,
    0px 1px 0 #fafafa,
    1px 1px 0 #fafafa;
    position: relative;
    z-index: -1;
}
