/****** settings ***/
#doc{
    display: inline;
    padding-bottom: 20px;
}
input#image{
    font-family: "synemono";
}

input[type=text]{
    font-family: "synemono";
    font-size: 16px;
    border: none;
    background-color: #fafafa;
    padding-left: 5px;
    margin-right: 5px;
    color: dimgrey;
}
input[type=text]:focus{
    outline: none;
    color: #005aff;
}

#stut_form{
    margin-top: 30px;
}

.st{
    padding-bottom: 9px;
}

label.range-type{
    width: 70px;
    padding-top: 10px;
}


/****** interface ***/
#canvas{
    position: relative;
    z-index: 100;
    overflow: hidden;
    width:auto;
    height: auto;
}
#canvas textarea{
    font-family: "syneextra";
    position: relative;
    background: #fafafa;

    white-space: pre-wrap;
    word-wrap:break-word;
    word-break:break-all;

    border: none;
    resize: none;
    overflow: hidden;

    line-height: 1em;
}
#canvas textarea:focus{
    outline: none;
}

#canvas .image{
    background-image: url("http://lorempixel.com/400/200/cats/");
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-size: 100% 100%;
    position: absolute;
    top: 100px;
    left: 100px;
    top: 0;
    left: 0;
}

#dummy{
    opacity: 0;
    font-family: "syneextra";
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  border: 2px solid #005aff;
  box-sizing: border-box;
}

.resizable .resizers .resizer{
  width: 10px;
  height: 10px;
  background: white;
  border: 4px solid #005aff;
  position: absolute;
}

.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}

#canvas, img{
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* mmirage part */

#zone{
    display: none;
}

#pre_img{
    mix-blend-mode: screen;
}
#historic li{
    display: inline-block;
    width: auto;
}
#historic li:hover{
    background: lightblue;
}

ul .active{
    background: yellow;
}
