input[type=range] {
  -webkit-appearance: none;
  width: 250px;
  margin: 10px 20px 0 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #fafafa;
}
input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 10px;
    border: 1px solid #242424;
  border-radius: 0px;
  background: #fafafa;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.55px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fafafa;
}
input[type=range]::-moz-range-track {
  box-shadow: 0px 0px 1px #fafafa;
  width: 200px;
  height: 0px;
  cursor: pointer;
  border-radius: 0px;
}
input[type=range]::-moz-range-thumb {
  height: 18px;
  width: 10px;
    border: 1px solid #242424;
  background: #fafafa;
  cursor: pointer;
}
input[type=range]::-ms-track {
  box-shadow: 0px 0px 1px #fafafa;
  width: 200px;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-thumb {
  height: 18px;
  width: 10px;
    border: 1px solid #242424;
  background: #fafafa;
  cursor: pointer;
  height: 1px;
}

