
.page{
    position: relative;

    width: 148mm;
    height: 210mm;
    background: white;
    transform-origin: left top;
    transform: scale(1);

    font-family: "syneregular";
}

b{
    font-family: "synebold";
    font-style: normal !important;
}

i, em{
    font-family: "syneitalic";
    font-weight: normal !important;
}

.text, .textinv{

    position: relative;
    margin: 8mm;

    width: auto;
    height: auto;
    min-height: 1em;

    background: lightgrey;
    color: black;
    columns: 2;
    /* weird font behavior, it now works in pt*/
    font-size: 9pt;

    -webkit-column-rule: 4px double #ff00ff; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px double #ff00ff; /* Firefox */
    column-rule: 4px double #ff00ff;

    z-index: 10;
}

.col-1{
    columns: 1;
}
.col-2{
    columns: 2;
}
.col-3{
    columns: 3;
}

/*invariant*/
.title1{
    color:black;
    font-family: "syneextra";
    font-weight: normal;
    font-size: 24pt;
}

.footer{
    font-family: "synemono";
    font-size:7pt;
}

.footer_wrap{
    width: 100%;
    position: absolute;
    bottom: 0mm;
}
/*#################
    controls
*/
.follower{
    position: absolute;
    height: auto;
    top: 0;
    left: 160mm;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.add{
    font-family: "syneitalic";
    position: relative;
    float:left;
    text-align: center;
    font-size: 3em;
    line-height: 0.95em;
    width: 1em;
    height: 1em;
    border-radius: 1em;

    margin-left: 0.5em;


    background: none;
    border: solid white 2px;

    color: white;


    cursor: pointer;
    transition: all 150ms;
}


.offset{
    background: grey;
    color: black;
    opacity: 0.5;
    pointer-events:none;
}

.colselector{
    display:none;
    float: left;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 1em;
    padding: 0 15px 0 15px;
    background: lightgrey;
    position: relative;
    width:auto;
    height: auto;
    color: black;
    font-size: 26px ;


}

.colselector div{
    display: inline-block;
    cursor: pointer;
    height: auto;
    margin : 0 5px;
}

.colselector div:hover{
    color:yellow;
}

.controls{
    display: inline-block;
    z-index: 100;
    position: relative;
    width: auto;
    font-size: 20px
    right: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.control{


    margin-left: 10px;
    position: relative;
    width: auto;
    padding: 2px;

    background: transparent;
    color:white;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.add:hover{
    color:yellow;
    border-color: yellow;
    transition: all 150ms;
}
.control:hover{
    color:yellow;
    /* transform: scale(1.5);
    transition: all 150ms; */
}
.control:nth-child(1){
    font-family: "synebold";
    margin-left: 1em;
}
.control:nth-child(2){
    font-family: "syneitalic";
    margin-top: 1em;
    margin-left: 0.5em;
}
.control:nth-child(3){
    font-family: "syneitalic";
    margin-top: 2.8em;
    margin-left: -4em;
    transform-origin: center;
    transform: rotate(90deg);

}
@media print {
    @page {
      size: A5;
    }

    body{
        background: white;
        margin:0;
    }
    .container{
        margin: 0;
    }

    .page{
        width: 100%;
        height: 100vh;
        transform: scale(1);
        /* font-size: 1em; */
    }
    .text, .textinv{
        -webkit-column-rule: none; /* Chrome, Safari, Opera */
        -moz-column-rule: none; /* Firefox */
        column-rule: none;
        background: white !important;

    }
    /*##################
    controls
    */
    .follower{
        display: none;
    }
}
